@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root{
    font-size: 62.25%;
    --primay-color:hsl(163, 72%, 41%);
    --secondary-color: hsl(356, 69%, 56%);
    
    /* fonts */
    --font-normal: 400;
    
    --font-bold: 700;
    
}
html{
    font-size: 14px;
}

/* Colors */
body{
    font-size: 1.4rem;
    transition: .2s;
    font-family: 'Inter', sans-serif;
}
.container{
    padding: 0 2em;
}
body.dark-theme{
    background: hsl(230, 17%, 14%);
}
body.dark-theme header{
    background: hsl(230, 17%, 14%);
}
body.dark-theme .card--user__counts,
body.dark-theme .card--overview_count,
body.dark-theme .heading{
    color: hsl(0, 0%, 100%);
}
body.dark-theme .card
{
    background: hsl(228, 28%, 20%);
}
body.dark-theme .card:hover
{
    background: hsl(229, 28%, 29%);
}

/*header */

header{
    margin: 2em auto;
    transition: .2s;

}
.heading-wrapper{
    padding-bottom: 1em;
    border-bottom: 1px solid hsl(227, 30%, 75%);
}
.heading{
    margin-bottom: .2em;
}
.heading-wrapper .text-grey{
    margin-bottom: 1em;
}
.dark-mode{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    
}

/* utility */
.text-grey{
    color: hsl(228, 12%, 44%);
    text-transform: capitalize;
}
.text-success{
    color: var(--primay-color)
}
.text-danger{
    color: var(--secondary-color)
}

/* card */

.card{
    background: hsl(227, 47%, 96%);
    border-radius: 4px;
    transition: .2s;
}
.card:hover{
    background: rgb(230, 230, 230)6%;
}
.card--user{
    border-top: 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    min-height: 180px;
}
.card--user__name{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}
.card--user__counts{
    display: block;
    text-align: center;
}
.card--user__counts h1{
    font-size: 5rem;
}
.card--user__counts p{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .5rem;
}
.card--user__name img{
    margin-right: .5em;
    height: 25px;
}

.card--user__changes{
    display: flex;
    align-items: center;
    height: max-content;
}
.card--user__changes img,
.card__change img
{
    margin-right: .3em;
}
.card--fb{
    border-top-color: hsl(208, 92%, 53%);
}
.card--ut{
    border-top-color: hsl(348, 97%, 39%);
}
.card--ig{
    position: relative;
    border: none;
}

.card--ig::before {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px 8px 0 0;
}

.card--tw{
    border-top-color: hsl(203, 89%, 53%);
}
/* social */

.social{
    margin-bottom: 1.5em;
}
.social__users{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1.5em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.overview{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}
.card--overview__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-top: 1em;
}
.card--overview{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    padding: 1.5em;
    min-height: 120px;
    width: 100%;
}
.card__page-view{
    
}
.card--overview .card__image{
    margin-left: auto;
}
.card--overview_count{
    font-size: 3rem;
}
.card--overview> *{
    /* border: 1px solid black; */
}
.card__change{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* toggle */
.dark-mode__switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}
.dark-mode__switch input { 
    display: none;
    width: auto;
    height: auto;
    
}
.dark-mode{
    position: relative;
}
.dark-mode__slider {
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 50px;
    left: 0;
    bottom: 0;  
    background: linear-gradient(to right, #ccc , #ccc);
    -webkit-transition: .2s;
    transition: all .2s;
    border-radius: 30px;
}
.dark-mode__slider:hover,
.dark-mode__slider.active {
    background: linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
}

.dark-mode__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;  
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    
}
.dark-mode__slider.active:before {
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); */
    left: 28px;
    
}
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider::before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}

@media screen and (min-width:1440px) {
    .container{
        padding: 0 10em;
    }
    .social__users{
        flex-direction: row;
    }
    .card--user{
        width: 25%;
    }
    .overview{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "heading"
        "overview";
    }
    .overview__heading{
        grid-area: heading;
    }
    .card--overview__wrapper{
        grid-area: overview;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1.5em;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2em 10em 10em 10em !important;
        background: hsl(225, 100%, 98%) ;
        margin: 0;
        
    }
    .dark-mode__slider{
        bottom: 50%;  
        
    }
    .dark-mode__switch{
        margin: auto 0 .2em 1em;
    }
    
    .heading-wrapper{
        border-bottom: none;
        padding-bottom: 0;
    }
    .heading-wrapper .text-grey{
        margin-bottom: 0;
    }
    .content{
        margin-top: -7em;
    }
}
/* 

#### Dark Theme

linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme

- Toggle: hsl(230, 22%, 74%)

### Neutral

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%)

## Typography

### Body Copy */
